@model Shop.Application.Services.Products.Entities.FavouriteListProductViewModel
<div id="Row_@(Model.Id)" class="columns is-1 not-faded fav-line">
    <input name="ListModel.Products[@(Model.Index)].Id" type="hidden" value="@Model.Id">
    <input name="ListModel.Products[@(Model.Index)].Deleted" id="ProductDeleted_@(Model.Id)" type="hidden" value="@Model.Deleted">
    <input name="ListModel.Products[@(Model.Index)].Price" id="ProductPrice_@(Model.Id)" type="hidden" value="@Model.Price">
    <div class="column is-1"><img src="@Model.ImageUrl" style="max-height: 55px; margin: auto" /></div>
    <div class="column is-3">@Model.Name</div>
    <div class="column is-2">@Model.Code</div>
    <div class="column is-1">@Model.Uom</div>
    <div class="column is-1">R&nbsp;@Model.Price</div>
    <div class="column is-1 has-text-centered">
        <div class="input-group spinner">
            <input id="Qty_@Model.Id" class="input small form-control product-qty" type="number" min="1" name="ListModel.Products[@(Model.Index)].Qty" value="@Model.Qty" data-product-id="@Model.Id" />
            <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
            </div>
        </div>
    </div>
    <div class="column is-1">R&nbsp;<span id="ProductTotal_@Model.Id">@Model.TotalPrice</span></div>
    <div class="column is-2 ex-faded">
        <div class="columns is-gapless ex-faded">
            <div class="column is-10">
                <a data-product-id="@Model.Id" class="secondary button is-block add-to-cart-action" style="font-size: 11px; color: #ffffff;">Add To Cart</a>
            </div>
            <div class="column is-2 has-text-centered ex-faded">
                <a id="DeleteBtn_@(Model.Id)" class="delete-row" data-product-id="@Model.Id">
                    <i class="fa fa-fw fa-times has-background-grey has-text-white"></i>
                </a>
                <a id="UndeleteBtn_@(Model.Id)" class="undelete-row" data-product-id="@Model.Id">
                    <i class="fa fa-fw fa-check secondary"></i>
                </a>
            </div>
        </div>
    </div>
</div>